/* -- Cart, Checkout and Confirmation Styling -- */

.cart-collaterals .shipping-calculator-form button.button:hover {
	border-color: #999;
}

.woocommerce-cart .woocommerce-info {
	position: relative;
	margin-top: 20px;
    margin-bottom: 0;
}

.woocommerce-cart .woocommerce-message {
	margin-top: 20px;
    margin-bottom: -20px;
}

.woocommerce-cart .woocommerce-message .buttons-wrapper {
	display: none;
}

.woocommerce-cart .woocommerce-message .button {
	font-weight: bold;
}

body .cart_totals table.shop_table_responsive tr td,
table.shop_table_responsive tbody tr td.product-subtotal {
	text-align: right;
}

body.woocommerce-checkout.page-template-template-fullwidth-php h2:not(.woocommerce-loop-product__title) {
	font-weight: 400
}

table.shop_table_responsive.cart tbody th,
table.shop_table_responsive thead,
table.shop_table_responsive tr td.actions:before,
table.shop_table_responsive tr td.download-actions:before,
table.shop_table_responsive tr td.product-remove:before {
    display: none;
}

table.shop_table_responsive.my_account_orders .order-actions:before {
    display: none;
}

ul.order_details:after,
ul.order_details:before {
    display: table;
}

#payment .payment_methods li .payment_box fieldset .form-row {
    margin-bottom: 1em;
}

.woocommerce-checkout-review-order-table tr.recurring-totals th {
    border-right: 1px solid #e2e2e2;
    border-bottom: none;
    padding-bottom: 0;
    font-weight: bold;
}

.woocommerce-page table.shop_table_responsive tbody .recurring-totals th {
    font-weight: bold;
}

.woocommerce-checkout-review-order-table tr.cart-subtotal.recurring-total th,
.woocommerce-checkout-review-order-table tr.cart-subtotal.recurring-total td {
    border-top: none;
    border-bottom: none;
}

#payment .payment_methods li.woocommerce-notice,
#payment .payment_methods li.woocommerce-notice:first-child {
    padding: 20px 20px 10px 20px;
    border: none;
    font-size: 14px;
}

.woocommerce-cart .content-area,
.woocommerce-checkout .content-area {
	width: 100%;
}

.woocommerce-cart.page-template-default .archive-header {
	padding: 0;
}

.woocommerce-cart.page-template-default .entry-header {
	margin-bottom: 0;
}

body.woocommerce-cart .entry-content,
body.woocommerce-checkout .entry-content {
	padding-top: 2em;
}

.cart_totals h2,
body.woocommerce-cart .woocommerce-breadcrumb {
	display: none;
}

.woocommerce-cart-form {
	float: left;
	width: 62%;
	margin-bottom: 0;
}

body.woocommerce-cart .hentry {
	margin-bottom: 0;
}

.cart-collaterals {
	float: right;
	width: 33%;
}

.cart_totals .shop_table {
	border: 1px solid #e2e2e2;
	border-bottom: none;
	table-layout: fixed;
	background-color: #f9f9f9;
	font-size: 15px;
	
}

@media (min-width: 992px) {

	_::-webkit-full-page-media, _:future, :root .cart_totals .shop_table {
    	width: 386px;
	}

}

.cart_totals .shop_table tr.shipping td,
.cart_totals .shop_table tr.shipping th {
	display: block;
	width: 200%;
}

.cart_totals .shop_table tr.shipping td {
	border-bottom: 1px solid #e2e2e2;
	text-align: left;
}

.woocommerce-shipping-calculator {
	margin-top: 15px;
}

body table.shop_table_responsive tr td {
	background-color: transparent;
	text-align: left;
}

body table.shop_table_responsive tr td.product-thumbnail {
	width: 80px;
	padding-right: 10px;
}

body table.shop_table_responsive tr td.product-name {
	width: 50%;
}

.cart_totals .shop_table td,
.cart_totals .shop_table th {
	padding: 1em 22px;
	color: #111;
}

.cart_totals .shop_table tr.cart-subtotal td,
.cart_totals .shop_table tr.cart-subtotal th {
	border-bottom: 1px solid #e2e2e2;
	color: #111;
}

.cart_totals .shop_table tr.order-total td,
.cart_totals .shop_table tr.order-total th {
	border-bottom: 1px solid #e2e2e2;
	font-size: 18px;
}

.cart_totals .shop_table tr.shipping th {
	padding-bottom: 0;
}

ul#shipping_method {
	clear: both;
	margin-top: -5px;
	margin-bottom: 1em;
	color: #111;
	text-align: left;
}

.entry-content p.woocommerce-shipping-destination {
	margin-bottom: 0.5em;
	font-size: 15px;
}

.cart_totals table th {
	background-color: transparent;
	font-weight: 400;
}

.woocommerce-shipping-calculator p {
	margin-bottom: 0.5em;
	text-align: left;
}

.entry-content .woocommerce-shipping-calculator p a {
	display: block;
	position: relative;
	margin-top: 10px;
	border: 0;
	color: #111;
	font-size: 15px;
	font-weight: 400;
}

.woocommerce-shipping-calculator p a:focus {
	outline: 0;
}

body .woocommerce-shipping-calculator > p:first-child a:before {
	display: none;
}

.woocommerce-shipping-calculator p a::after {
	position: absolute;
	top: 5px;
	right: 0;
	font-family: Rivolicons, sans-serif;
	font-size: 10px;
	content: "\e60d";
}

body.page-template-template-fullwidth-php .cart-collaterals .cart_totals,
body.page-template-template-fullwidth-php .cart-collaterals .shipping_calculator {
	float: none;
	width: 100%;
}

.cart-collaterals .shipping-calculator-form button.button {
	display: block;
	width: 100%;
	margin-top: 15px;
	border: 1px solid #ccc;
	color: #333;
	background-color: transparent;
	font-weight: 400;
}

body .woocommerce-shipping-calculator .shipping-calculator-form {
	padding-top: 0.8em;
}

body .woocommerce-shipping-calculator .form-row select {
	height: 42px;
	background-position: 96% 52%;
	line-height: 42px;
}

body .woocommerce-shipping-calculator .form-row input[type="text"] {
	height: 42px;
	font-size: 16px;
	line-height: 42px;
}

body table.cart td.product-remove a.remove {
	border: 0;
	font-size: 1em;
}

body table.cart td,body table.cart th {
	padding: 1em 0;
	color: #111;
	background-color: transparent;
	vertical-align: middle;
}

table.cart td.product-quantity .qty {
	background-color: #f8f8f8;
	box-shadow: none
}

body table.cart thead th,
body.page-template-template-fullwidth-php table.cart th.product-thumbnail {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #eee;
	color: #111;
}

body table.cart td.product-remove {
	border-bottom: 1px solid #eee;
	padding: 0;
}

body table.cart td {
	border-bottom: 1px solid #f2f2f2;
	font-size: 15px;
}

body table.cart td.actions {
	padding: 0;
}

#page table.cart .product-thumbnail img {
	max-width: 60px;
	height: auto;
	margin: 0;
}

body table.cart td.product-quantity .qty {
	margin-right: -2px;
	padding: 8px;
	width: 40px;
	border: none;
	font-size: 14px;
}

body table.cart td.product-quantity .quantity-nav {
	right: auto;
	left: 40px;
	width: 26px;
}

table.cart td.product-quantity .quantity-button.quantity-up::before {
	position: relative;
	margin-left: 9px;
	top: -5px;
	font-size: 8px;
}

table.cart td.product-quantity .quantity-button.quantity-down::before {
	margin-left: 9px;
	position: relative;
	top: -2px;
	font-size: 8px;
}

a.remove {
	display: block;
	position: relative;
	font-weight: 400;
	line-height: 1.618;
	text-indent: -9999px;
}

a.remove::before {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #e2401c;
	font-size: inherit;
	line-height: 1.618;
	text-align: center;
	text-indent: 0;
	text-rendering: auto;
}

body a.remove::before {
	color: #999;
	font-family: Rivolicons, sans-serif;
	font-size: 7px;
	line-height: 2.5;
	content: "\e620";
	transition: color 0.2s ease;
}

.cart_item a.remove::before {
	margin-top: 5px;
}

.payment_method_paypal a:hover,
body a.remove:hover::before {
	color: #666;
}

.entry-content td.product-name a {
	border: 0;
	color: #111;
	font-weight: 400;
}

body table.cart td.actions {
	padding-top: 1.5em;
	border: 0;
}

table.cart td.actions input {
	height: 40px;
	margin: 0;
	padding: 0 12px;
	border-radius: 0;
	font-size: 16px;
	line-height: 40px;
}

table.cart td.actions button,
table.cart td.actions input[type="submit"] {
	padding: 0 22px;
	color: #111;
	background-color: #f8f8f8;
	font-size: 14px;
	font-weight: 400;
}

table.cart td.actions button {
	margin: 0 0 0 5px;
	height: 40px;
	border-radius: 0;
	line-height: 40px;
	transition: 0.2s all;
}

#page table.cart td.product-remove {
	border: 0;
}

table.cart td.actions input[type="submit"] {
	margin-left: 5px;
}

.woocommerce-checkout-review-order-table td.product-total,
body table.cart th.product-subtotal {
	text-align: right;
	vertical-align: middle;
}

.cart_totals p.cart-countdown {
	margin: 10px 0 0 0;
	text-align: center;
}

.cart_totals p.cart-countdown span {
	color: #f30909;
	font-weight: 400;
}

.cart-custom-field .widget,
.woocommerce-checkout.minimal-checkout .site-header .site-branding,
body .wc-proceed-to-checkout .button,
footer .mc4wp-form p,
footer.copyright p {
	margin-bottom: 0
}

.woocommerce-checkout .form-row .cart-custom-field p {
	margin-bottom: 15px;
	font-size: 15px;
}

.cart-custom-field h4 {
	font-size: 20px;
	font-weight: bold;
}

.cart-custom-field img {
	display: block;
	margin-bottom: 20px;
}

/* Cart Summary widget */

.cart-summary .widget .widget-title {
	margin-bottom: 1em;
	font-size: 24px;
}

.cart-summary .widget {
	overflow: hidden;
	margin-bottom: 3em;
}

.cart-summary .widget ul {
	border: 1px solid #eee;
    overflow: hidden;
    padding: 30px 25px 5px 25px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
}

.cart-summary .widget li {
	position: relative;
	margin-bottom: 20px;
	font-size: 15px;
}

.cart-summary .widget li strong {
	display: block;
	margin-top: 3px;
}

@media (min-width: 768px) {

	.cart-summary .widget {
		margin-top: -15px;
	}

	.cart-summary .widget ul {
		padding: 30px 10px 10px 10px;
	}

	.cart-summary .widget li {
		display: inline-block;
		float: left;
		width: 33.33%;
		padding-right: 2%;
		padding-left: 18px;
	}

	.cart-summary .widget li strong {
		margin-top: 10px;
	}

	.cart-summary .widget li::after {
		height: 100%;
		width: 1px;
		background-color: #eee;
		position: absolute;
		top: 0;
		right: 0;
		content: "";
		border-radius: 50%;
	}

	.cart-summary .widget li:last-child::after {
		display: none;
	}

}

.cart-summary .widget li strong::before {
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	letter-spacing: 3px;
	content: "\2605\2605\2605\2605\2605";
}

.woocommerce-checkout .form-row input[type="email"],
.woocommerce-checkout .form-row input[type="password"],
.woocommerce-checkout .form-row input[type="tel"],
.woocommerce-checkout .form-row input[type="text"],
.woocommerce-checkout .form-row textarea,
body.woocommerce-checkout .form-row select {
	border: 0;
	background-color: #f8f8f8;
}

body #payment .place-order .button,
body .wc-proceed-to-checkout .button.checkout-button {
	font-size: 19px;
}

body #payment .place-order {
	background-color: transparent;
}

.woocommerce-checkout-payment .cart-custom-field {
	margin-top: 20px;
}

body .woocommerce #respond input#submit.alt,
body .woocommerce a.button.alt,
body .woocommerce button.button.alt,
body .woocommerce input.button.alt {
	padding: 0.8em 0;
	background: #3bb54a;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	transition: background 0.2s ease;
}

body .woocommerce #respond input#submit.alt:hover,
body .woocommerce a.button.alt:hover,
body .woocommerce button.button.alt:hover,
body .woocommerce input.button.alt:hover {
	background: #009245;
}

#payment .place-order .button,
body .woocommerce a.checkout-button.button.alt {
	border: 0;
	border-radius: 3px;
}

.woocommerce-checkout .form-row textarea,
body #payment .woocommerce-terms-and-conditions {
	box-shadow: none;
}

body #payment .woocommerce-terms-and-conditions h2,
body #payment .woocommerce-terms-and-conditions h3,
body #payment .woocommerce-terms-and-conditions h4 {
	margin-bottom: 0.5em;
	font-size: 18px;
}

.shoptimizer-sticky-add-to-cart img.error,
.woocommerce-checkout-review-order-table thead,
body .my_account_orders .button.view::after,
body.woocommerce-checkout .woocommerce-breadcrumb {
	display: none;
}

.woocommerce-checkout.minimal-checkout .site-header {
	border-bottom: 1px solid #eee;
}

@media (min-width: 993px) {
	.woocommerce-checkout.minimal-checkout .site-header .main-navigation {
		display: none;
	}
}

.woocommerce-checkout.minimal-checkout header h1 {
	display: flex;
	margin: 0;
	font-size: 22px;
	letter-spacing: -0.01em;
	flex: 9999;
	justify-content: flex-end;
}

#order_review_heading {
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 22px;
}

.woocommerce-checkout p#billing_address_1_field,
.woocommerce-checkout p#shipping_address_1_field {
	margin-bottom: 6px;
}

.woocommerce-checkout .form-row input[type="email"],
.woocommerce-checkout .form-row input[type="password"],
.woocommerce-checkout .form-row input[type="tel"],
.woocommerce-checkout .form-row input[type="text"] {
	height: 40px;
	padding: 0 0.7em;
}

.woocommerce-checkout .form-row select {
	height: 40px;
	color: #444;
	background: url(../../images/arrow.png) calc(100% - 20px) 18px no-repeat;
	background-size: 7px 4px;
	line-height: 40px;
}

.woocommerce-checkout .form-row p {
	margin-bottom: 1.6em;
}

.woocommerce-billing-fields h3 {
	margin: 10px 0 30px;
}

body #order_review .shop_table {
	margin-bottom: 1.8em;
	table-layout: fixed;
}

body table.woocommerce-checkout-review-order-table .product-name {
	width: inherit;
	word-wrap: inherit;
}

#order_review .shop_table tr.shipping td,
#order_review .shop_table tr.shipping th {
	display: block;
	width: calc(200%);
	text-align: left;
}

.woocommerce-checkout-review-order-table tbody td {
	padding-top: 0.5em;
	padding-bottom: 0.6em;
	border-bottom: 1px solid #eee;
	color: #222;
	font-size: 15px;
	background-color: transparent;
	padding-right: 0;
}

.woocommerce-checkout-review-order-table tbody tr:last-child td {
	padding-bottom: 30px;
	border-bottom: 0;
}

.woocommerce-checkout-review-order-table tfoot td,
.woocommerce-checkout-review-order-table tfoot th {
	padding: 1em 22px;
	border-bottom: 1px solid #e2e2e2;
	color: #111;
	background-color: #f9f9f9;
	font-size: 15px;
	font-weight: 400;
}

.woocommerce-checkout-review-order-table tr.cart-subtotal td,
.woocommerce-checkout-review-order-table tr.cart-subtotal th {
	border-top: 1px solid #e2e2e2;
}

.woocommerce-checkout-review-order-table tr.order-total td,
.woocommerce-checkout-review-order-table tr.order-total th {
	font-size: 18px;
}

#order_review .shop_table tr.shipping td,
.woocommerce-checkout-review-order-table tfoot th,
.woocommerce-checkout-review-order-table tr.order-total td:first-child {
	border-left: 1px solid #e2e2e2;
}

#order_review .shop_table tr.shipping th {
	padding-bottom: 0;
	border-right: 1px solid #e2e2e2;
	border-bottom: none;
}

.woocommerce-checkout-review-order-table tfoot td {
	border-right: 1px solid #e2e2e2;
	text-align: right;
}

body .woocommerce-checkout-payment ul {
	border: 1px solid #e2e2e2;
}

body #payment .payment_methods li .payment_box {
	padding-top: 0;
	padding-bottom: 0;
}

body #payment .payment_methods li:first-child {
	padding-top: 6px;
}

body #payment .payment_methods li:last-child:not(.woocommerce-notice) {
	padding-bottom: 14px;
}

body .content-area #payment .payment_methods li input[type="radio"]:first-child:checked+label:before {
	color: #111;
}

body #payment .payment_methods > .wc_payment_method > label,
body #payment .payment_methods > .woocommerce-PaymentMethod > label {
	padding-top: .6em;
	padding-bottom: 0;
	color: #222;
	font-size: 15px;
}

body #payment .payment_methods > .wc_payment_method > label:before,
body #payment .payment_methods > .woocommerce-PaymentMethod > label:before,
ul#shipping_method li label:before {
	display: inline-block;
	position: relative;
	top: -1px;
	width: 8px;
	height: 8px;
	margin-right: 0.5407911001em;
	border-radius: 50%;
	background-color: #ccc;
	content: "";
}

.payment_method_paypal a {
	margin-left: 6px;
	border-bottom: 1px solid #e2e2e2;
	color: #999;
	font-size: 13px;
}

body #payment .payment_methods li {
	padding: 2px 0 12px;
	border-bottom: 1px solid #eee;
}

body #payment .payment_methods p {
	padding-top: 10px;
	padding-bottom: 3px;
	font-size: 14px;
}

.entry-content .woocommerce-privacy-policy-text p {
	font-size: 13px;
}

#payment .place-order,
body #payment .payment_methods > li .payment_box,
body #payment .payment_methods > li:not(.woocommerce-notice),
body #payment .payment_methods > li:not(.woocommerce-notice):hover {
	background-color: transparent;
}

.woocommerce-checkout p#order_comments_field {
	clear: both;
}

p.create-account span {
	margin-left: 3px;
}

body #ship-to-different-address .woocommerce-form__input-checkbox {
	position: relative;
	top: auto;
	margin-right: 10px;
	-webkit-transform: none;
	transform: none;
}

body #ship-to-different-address {
	margin-top: -10px;
	margin-bottom: 30px;
	padding-top: 15px;
	border-top: 1px solid #eee;
	color: #111;
	font-size: 16px;
}

body.page-template-template-fullwidth-php #order_review,
body.page-template-template-fullwidth-php #order_review_heading {
	width: 37%;
}

body #payment .place-order {
	margin-top: 1.8em;
	padding: 0;
}

.woocommerce-form-login .form-row {
	float: left;
}

.entry-content .woocommerce-form-login p {
	font-size: 15px;
}

.entry-content .woocommerce-form-login .button {
	padding: 8px 20px;
	border-radius: 3px;
	font-size: 15px;
}

.woocommerce-form-login .lost_password {
	margin-top: 11px;
}

.woocommerce-form-login .lost_password a {
	border-bottom: 1px solid #e2e2e2;
	color: #333;
}

form.checkout {
	margin-bottom: 0;
	padding-top: 10px;
}

.woocommerce-checkout .woocommerce-error {
	margin: 1.5em 0;
	color: #fff;
}

.woocommerce-checkout .woocommerce-error a {
	border: 0;
	color: #fff;
}

.woocommerce-checkout .entry-content .woocommerce-error a:hover {
	color: #fff;
}

.coupon-wrapper {
	margin-top: 25px;
	padding: 1.3em 0;
	clear: both;
	border-top: 1px solid #eee;
}

.coupon-wrapper p {
	font-size: 16px;
	margin-bottom: 10px;
}

.woocommerce-checkout .coupon-wrapper .woocommerce-info {
	text-align: left;
}

.woocommerce-checkout .woocommerce-info {
	margin: 0 0 10px;
	padding: 0;
	border: 0;
	background: 0 0;
	font-size: 16px;
	text-align: center;
	color: #333;
}

.woocommerce-checkout .woocommerce-info a,
.woocommerce-checkout .woocommerce-info a:hover {
	color: #333;
}

.woocommerce-checkout .woocommerce-info a {
	margin-left: 10px;
	border-bottom: 1px solid #e2e2e2;
	font-weight: 400;
}

.woocommerce-checkout .woocommerce-info a:focus {
	outline: 0;
}

body .checkout_coupon {
	width: 50%;
	margin-bottom: 0;
	padding-top: 10px;
}

body .checkout_coupon p {
	margin-bottom: 10px;
	font-size: 15px;
}

.coupon-wrapper button,
.coupon-wrapper input {
	height: 40px;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 400;
	line-height: 40px;
}

.coupon-wrapper button:hover {
	background-color: #f2f2f2;
}

.woocommerce-checkout .coupon-wrapper .woocommerce-error,
body .coupon-wrapper .woocommerce-message {
	margin-top: 20px;
	margin-bottom: 0;
	padding: .6em;
	font-size: 15px;
}

.page-template-template-fullwidth-php .coupon-wrapper .form-row-first {
	width: 57%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .coupon-wrapper .form-row-last {
	width: 40%;
}

.woocommerce-form-login {
	width: 50%;
	margin: 20px 0;
	padding: 2.5em 2.5em 1em;
	border: 1px solid #eee;
}

.woocommerce-checkout .woocommerce-form-login {
	margin-right: auto;
	margin-left: auto;
}

.woocommerce-checkout .woocommerce-form-login button {
	margin-top: 20px;
}

.woocommerce-form-login .form-row {
	width: 100%;
}

.woocommerce ul.order_details li {
	padding-bottom: 0;
	padding-left: 0;
	color: #666;
	font-size: 15px;
	text-transform: none;
}

.woocommerce-order p.woocommerce-notice {
	margin: 0.5em 0 0;
	color: #111;
	font-size: 20px;
}

.woocommerce-order-received table.woocommerce-table--order-details td {
	color: #111;
	padding-bottom: 0px !important;
}

.woocommerce-order-received table.woocommerce-table--order-details tfoot td,
.woocommerce-order-received table.woocommerce-table--order-details tfoot th,
footer {
	font-size: 16px;
}

.woocommerce-order-received .entry-content h2 {
	font-size: 22px;
}

.woocommerce ul.order_details {
	margin: 0em 0;
}

.woocommerce ul.order_details li strong {
	color: #111;
	font-size: 15px;
	font-weight: 400;
}

table.woocommerce-table--order-details td,
table.woocommerce-table--order-details th {
	padding: 4px 0;
}

table.woocommerce-table--order-details tbody td,
table.woocommerce-table--order-details tbody th,
table.woocommerce-table--order-details tbody tr:nth-child(2n) td {
	background-color: #fff;
}

table.woocommerce-table--order-details tbody tr:first-child td,
table.woocommerce-table--order-details tbody tr:first-child th,
table.woocommerce-table--order-details tfoot tr:first-child td,
table.woocommerce-table--order-details tfoot tr:first-child th {
	padding-top: 25px;
}

table.woocommerce-table--order-details tbody tr:last-child td,
table.woocommerce-table--order-details tbody tr:last-child th,
table.woocommerce-table--order-details tfoot tr:last-child td,
table.woocommerce-table--order-details tfoot tr:last-child th {
	padding-bottom: 25px;
}

table.woocommerce-table--order-details thead th {
	color: #111;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	font-weight: 600;
}

table.woocommerce-table--order-details tfoot td,
table.woocommerce-table--order-details tfoot th {
	color: #111;
	font-size: 17px;
	font-weight: 400;
}

.woocommerce-order-received .col2-set.addresses {
	padding-top: 30px;
}

/* -- Confirmation -- */

body.woocommerce-checkout.woocommerce-order-received .entry-content {
	padding-top: 0;
}

.page-template-default.woocommerce-order-received .archive-header {
	padding-bottom: 0;
}

.site-content .entry-content p.woocommerce-thankyou-order-received, 
.site-content ul.order_details {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.woocommerce-checkout ul.order_details {
	padding: .6em 0;
	margin-bottom: 3em;
	background-color: #f6f6f6;
	text-align: center;
}

.woocommerce-checkout ul.order_details li {
	padding: 1em 1.618em;
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 0;
}

.entry-content p.woocommerce-thankyou-order-received {
	margin: 0;
	padding: 1.5em 0;
	color: #fff;
	background: #3bb54a;
	font-size: 26px;
	text-align: center;
	letter-spacing: -0.02em;
}

ul.checkout-bar {
	margin: 0 0 20px;
}

ul.checkout-bar li {
	display: block;
	position: relative;
	padding: 14px 20px 14px 80px;
	color: #ccc;
	font-size: 14px;
}

ul.checkout-bar li:before {
	position: absolute;
	z-index: 2;
	top: 6px;
	left: 20px;
	width: 35px;
	height: 35px;
	border: 6px solid #fff;
	border-radius: 50%;
	color: #fff;
	background: #ddd;
	font-size: 15px;
	line-height: 35px;
	text-align: center;
}

.woocommerce-cart ul.checkout-bar li.active,
.woocommerce-checkout ul.checkout-bar li.active {
	z-index: 3;
	color: #444;
	background: 0 0;
}

.woocommerce-checkout ul.checkout-bar li.next {
	color: #444
}

.woocommerce-cart ul.checkout-bar li.active:before,
.woocommerce-checkout ul.checkout-bar li.active:before,
.woocommerce-checkout ul.checkout-bar li.next:before {
	z-index: 4;
	background: #444;
}

ul.checkout-bar li.visited:before {
	z-index: 1;
	background: #444
}

ul.checkout-bar li:nth-child(1):before {
	content: "1";
}

ul.checkout-bar li:nth-child(2):before {
	content: "2";
}

ul.checkout-bar li:nth-child(3):before {
	content: "3";
}

.woocommerce ul.checkout-bar a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #111;
}

body.woocommerce-cart .shoptimizer-archive {
	margin-bottom: 0;
}

.cross-sells {
	clear: both;
}

.cross-sells h2 {
	font-size: 24px;
	margin-bottom: 1.2em;
}

body.page-template-template-fullwidth-php .cross-sells h2:not(.woocommerce-loop-product__title) {
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: 400;
}

.woocommerce-cart .entry-content p.cart-empty {
	text-align: center;
    font-size: 40px;
    letter-spacing: -0.015em;
    font-weight: 600;
    color: #111;
    margin-bottom: 0em;
    padding-bottom: 20px;
    position: relative;
    padding-top: 260px;
    border: none;
    background: transparent;
}

.woocommerce-cart p.cart-empty:after,
.woocommerce-cart p.cart-empty:before {
	font-family: Rivolicons;
	content: "\e666";
	font-size: 200px;
	color: #eee;
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -110px;
}

.woocommerce-cart p.cart-empty:after {
	content: "\e620";
	color: #333;
	font-size: 30px;
	top: 113px;
	margin-left: -15px;
}

.woocommerce-cart p.return-to-shop {
	text-align: center
}

.woocommerce-cart p.return-to-shop a {
	margin-bottom: 35px;
	border-radius: 3px;
	border: 0;
	transition: all 0.2s;
}

.woocommerce-cart .entry-content p.return-to-shop a:hover {
	color: #fff;
}

/* Hide on cart and checkout */
body.woocommerce-cart #message-purchased,
body.woocommerce-checkout #message-purchased {
	display: none !important;
}

.no-breadcrumbs.page-template-default.woocommerce-cart .archive-header {
	padding: 0;
}

.woocommerce-cart h1.entry-title,
#page table.cart.woocommerce-cart-form__contents td.product-price,
#page table.cart.woocommerce-cart-form__contents th.product-price {
	display: none;
}

body.woocommerce-checkout .shop_table { 
	background-color: transparent; 
}

#order_review.woocommerce-checkout-review-order {
	margin-top: 30px;
}

h3#order_review_heading + #order_review.woocommerce-checkout-review-order {
	margin-top: 0;
}

.woocommerce-checkout .site-main h3#order_payment_heading {
	margin-top: 0;
}

.woocommerce-checkout-review-order h3#order_review_heading {
	float: none;
	margin-top: 30px;
	padding-bottom: 0;
}

#order_review .legal label {
	display: block;
}

.page .entry-content .woocommerce-checkout-review-order-table a {
	border-color: #999;
	color: #111;
}

.woocommerce-checkout #order_review .legal label {
	display: block;
	font-size: 14px;
	line-height: 1.7em;
	letter-spacing: 0;
	text-transform: none;
}

.woocommerce-checkout-review-order-table tbody td.actions {
	display: block;
	padding-left: 0;
}

.woocommerce-checkout-review-order-table tbody td.actions .button {
	color: #fff;
	font-size: 13px;
}

button#place_order {
	width: 100%;
	margin-bottom: 20px;
}

body .cart_totals p.wc-gzd-additional-info {
	display: block;
	width: auto;
	padding-top: 0;
	border: none;
	text-align: center;
}

.entry-content .wc-gzd-additional-wrapper p {
	font-size: 14px;
	text-align: center;
}

.product p.wc-gzd-additional-info {
	margin: 0px;
	text-align: left;
}

.wc-gzd-product-name-left img {
	margin-right: 15px;
	max-width: 50px;
}

body .wc-gzd-product-name-left,
body .wc-gzd-product-name-right {
	display: table-cell;
	float: none;
	vertical-align: middle;
}

.wc-gzd-checkbox-placeholder-legal {
	margin-top: 10px;
}

.wc-gzd-checkbox-placeholder-legal input.input-checkbox {
	position: absolute;
	margin-top: 3px;
}

.wc-gzd-checkbox-placeholder-legal .woocommerce-gzd-legal-checkbox-text {
	display: block;
	padding-left: 30px;
}

/* Stripe Payment Gateway Fixes */
#wc-stripe-payment-request-wrapper {
	clear: none !important;
	padding-top: 0 !important;
}

.wc-proceed-to-checkout.angelleye_cart_button,
#paypal_box_button {
	position: relative;
	z-index: 1;
}

p.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated label {
	font-size: 13px;
}

body.woocommerce-checkout #payment .payment_method_stripe label[for="payment_method_stripe"] {
	padding-left: 1.415em;
}

#payment .payment_methods > .wc_payment_method > label:before,
#payment .payment_methods > .woocommerce-PaymentMethod > label:before,
#shipping_method > li > label:before {
	display: inline-block;
	width: 7px;
}

#payment .payment_methods li.wc_payment_method > input[type="radio"]:first-child,
#payment .payment_methods li.woocommerce-PaymentMethod > input[type="radio"]:first-child,
#shipping_method > li > input[type="radio"]:first-child {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
}

#payment .payment_methods li.wc_payment_method > input[type="radio"]:first-child:checked+label::before,
#payment .payment_methods li.woocommerce-PaymentMethod > input[type="radio"]:first-child:checked+label::before,
#shipping_method > li > input[type="radio"]:first-child:checked+label::before {
	border-color: #dc9814;
	background-color: #dc9814;
}

table.cart td.actions input[name="update_cart"]:focus {
    outline: 0;
}

table.shop_table_responsive tr td {
    display: block;
    clear: both;
    text-align: right;
}

table.shop_table_responsive tr td::before {
    float: left;
    font-weight: 600;
    content: attr(data-title) ": ";
}

table.shop_table_responsive tr td.product-remove a {
    text-align: left;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

table.shop_table_responsive.my_account_orders .order-actions {
    text-align: right;
}

table.cart {
    margin-bottom: 3.706325903em;
}

table.cart .product-thumbnail img {
    max-width: 3.706325903em;
    height: auto;
    margin: 0 auto;
}

table.cart tr:first-child td.product-remove {
    border-top-width: 0;
}

table.cart td.product-remove {
    position: relative;
    padding: 0;
    border-top: 1.618em solid;
}

table.cart td.product-remove a.remove {
    position: absolute;
    top: -0.6180469716em;
    right: -0.6180469716em;
    font-size: 1.41575em;
}

table.cart td.product-quantity .qty {
    width: 3.706325903em;
    padding: 0.326em;
}

table.cart td,
table.cart th {
    padding: 0.875em 0.875em 0;
}

table.cart td.product-subtotal {
    padding-bottom: 0.875em;
}

table.cart td.actions {
    padding: 0;
    border-top: 1em solid;
    background-color: transparent;
}

table.cart td.actions .coupon {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

table.cart td.actions input {
    display: block;
    width: 100%;
    margin: 0.5407911001em 0;
}

#payment .payment_methods li p,
.woocommerce-shipping-calculator {
    margin: 0;
}

.woocommerce-shipping-calculator > p:first-child {
    margin: 0;
}

.woocommerce-shipping-calculator a.shipping-calculator-button {
    text-decoration: underline;
}

.woocommerce-shipping-calculator .shipping-calculator-form {
    padding-top: 1.41575em;
}

ul#shipping_method li {
    margin-bottom: 0.2360828548em;
}

ul#shipping_method input {
    margin-right: 0.3342343017em;
}

.checkout_coupon {
    margin-bottom: 2.617924em;
}

form.checkout {
    position: static!important;
}

form.checkout > .blockUI {
    position: fixed!important;
}

#payment .payment_methods {
    margin: 0!important;
    padding: 0!important;
}

#payment .payment_methods > .wc_payment_method > label,
#payment .payment_methods > .woocommerce-PaymentMethod > label {
    display: block;
    padding: 1.41575em;
    cursor: pointer;
}

#payment .payment_methods li {
    position: relative;
    margin-left: 0;
    list-style: none!important;
}

#payment .payment_methods li img {
    float: right;
    max-height: 1.618em;
    padding: 0;
    border: 0;
}

#payment .payment_methods li.payment_method_stripe img {
    max-width: 30px !important;
    position: relative;
    top: 3px;
}

#payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods {
    padding: 0;
    border: 0;
}

#payment .payment_methods li:last-child:not(.woocommerce-notice) {
    padding-bottom: 0;
    border-bottom: 0;
}

#payment .payment_methods li .payment_box {
    padding: 1.41575em;
}

#payment .payment_methods li .payment_box fieldset {
    margin: 0;
    padding: 1em 0 0;
    border: 0;
    font-size: 0.875em;
}

#payment .payment_methods li .payment_box fieldset label {
    width: auto;
    margin-left: 0;
}

#payment .payment_methods li .payment_box fieldset .form-row input[type="checkbox"] {
    margin-right: 5px;
}

#payment .payment_methods li .payment_box fieldset #cvv {
    width: 22% !important;
}

#payment .payment_methods li .payment_box fieldset .help {
    float: right;
    width: 75%;
}

#payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods {
    margin: 0;
    padding-top: 1em;
}

#payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods li {
    margin-top: 0.6180469716em;
}

#payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods li input[type="radio"] {
    margin-right: 0.236em;
}

#payment .payment_methods li .payment_box ul.wc-saved-payment-methods {
    margin-left: 0;
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-cvc,
#payment .payment_methods li .payment_box .wc-credit-card-form-card-expiry,
#payment .payment_methods li .payment_box .wc-credit-card-form-card-number {
    font-size: 1.41575em;
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number {
    background-image: url(../../../assets/images/credit-cards/unknown.svg);
    background-repeat: no-repeat;
    background-position: right .6180469716em center;
    background-size: 31px 20px;
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.visa {
    background-image: url(../../../assets/images/credit-cards/visa.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.mastercard {
    background-image: url(../../../assets/images/credit-cards/mastercard.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.laser {
    background-image: url(../../../assets/images/credit-cards/laser.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.dinersclub {
    background-image: url(../../../assets/images/credit-cards/diners.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.maestro {
    background-image: url(../../../assets/images/credit-cards/maestro.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.jcb {
    background-image: url(../../../assets/images/credit-cards/jcb.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.amex {
    background-image: url(../../../assets/images/credit-cards/amex.svg);
}

#payment .payment_methods li .payment_box .wc-credit-card-form-card-number.discover {
    background-image: url(../../../assets/images/credit-cards/discover.svg);
}

#payment .terms {
    float: none;
    clear: both;
    width: 100%;
    margin-bottom: 1em;
}

#payment .terms label {
    display: block;
    cursor: pointer;
}

#payment .woocommerce-terms-and-conditions {
    margin-bottom: 16px;
    padding: 1em;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

#payment .place-order {
    float: none;
    width: 100%;
    margin-top: 2.617924em;
    margin-bottom: 0;
    padding: 1.41575em;
}

#payment .place-order .button {
    width: 100%;
    font-size: 1.41575em;
    white-space: pre-wrap;
}

table.woocommerce-checkout-review-order-table .product-name {
    width: 300px;
    word-wrap: break-word;
}

.woocommerce-password-strength {
    padding: 0.5407911001em 0;
    font-size: 0.875em;
    font-weight: 600;
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.bad,.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3d9cd2;
}

label.inline {
    display: inline !important;
    margin-left: 1em;
}

ul.order_details {
    position: relative;
    margin: 3.706325903em 0;
    list-style: none;
}

ul.order_details:after,
ul.order_details:before {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    background-size: 0 100%,16px 16px,16px 16px;
    content: "";
}

ul.order_details:before {
    top: -16px
}

ul.order_details:after {
    top: auto;
    bottom: -16px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.order_details li {
    padding: 1em 1.618em;
    font-size: 0.8em;
    text-transform: uppercase;
}

ul.order_details li:first-child {
    padding-top: 1.618em;
}

ul.order_details li:last-child {
    padding-bottom: 1.618em;
    border: 0;
}

ul.order_details li strong {
    display: block;
    font-size: 1.41575em;
    text-transform: none;
}

.woocommerce-form__label-for-checkbox {
    display: block;
    cursor: pointer;
}

.woocommerce-form__label-for-checkbox .woocommerce-form__input-checkbox {
    margin-right: 0.3342343017em;
}

#order_review .shop_table tr.shipping td .woocommerce-Price-amount,
.cart_totals .shop_table tr.shipping td span.woocommerce-Price-amount,
ul#shipping_method li span.amount {
	float: right;
}

ul#shipping_method li {
	font-size: 15px;
}

body.page-template-template-fullwidth-php.woocommerce-order-received .col2-set {
	width: 100%;
	float: none;
}

@media all and (min-width:993px) {

	.woocommerce-order-received .col2-set .col-1, 
	.woocommerce-order-received .col2-set .col-2 {
		float: left;
   		width: 50%;
	}

	table.cart td,
	table.cart th {
        padding: 1.618em
    }

    table.cart .qty {
        max-width: 3.632em;
        padding: 0.875em;
    }

    table.cart td.product-remove {
        display: table-cell;
        padding: 1.618em;
        border: 0;
    }

    table.cart td.product-remove a.remove {
        float: none;
        position: relative;
        top: auto;
        right: auto;
        width: 1.2em;
    }

    table.cart .product-quantity .minus,
    table.cart .product-quantity .plus {
        display: inline-block;
    }

    table.cart .quantity .qty {
        padding: 0.6180469716em;
    }

    table.cart td.actions {
        text-align: right;
    }

    table.cart td.actions .coupon {
        display: inline-block;
        float: left;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    table.cart td.actions input {
        display: inline-block;
        width: auto;
        max-width: 200px;
        margin: 0;
    }

    .addresses header.title:after,
    .addresses header.title:before,
    .cart-collaterals:after,
    .cart-collaterals:before,
    .col2-set .woocommerce-billing-fields:after,
    .col2-set .woocommerce-billing-fields:before {
        display: table;
        content: "";
    }

    .addresses header.title:after,
    .cart-collaterals:after,
    .col2-set .woocommerce-billing-fields:after {
        clear: both;
    }

    .cart-collaterals h2 {
        font-size: 1.618em;
    }

    .cart-collaterals .cross-sells {
        float: left;
        width: 41.1764705882%;
        margin-right: 5.8823529412%;
    }

    .cart-collaterals .cross-sells ul.products li.product {
        float: left;
        width: 42.8571428571%;
        margin-right: 14.2857142857%;
    }

    .cart-collaterals .cross-sells ul.products li.product:nth-child(2n) {
        margin-right: 0!important;
    }

    .cart-collaterals .cart_totals,
    .cart-collaterals .shipping_calculator {
        float: right;
        width: 100%;
        margin: 0;
        clear: right;
    }

    .col2-set,.page-template-template-fullwidth-php .cart-collaterals .cross-sells {
        float: left;
        width: 47.8260869565%;
        margin-right: 4.347826087%;
    }

    .page-template-template-fullwidth-php .cart-collaterals .cart_totals,
    .page-template-template-fullwidth-php .cart-collaterals .shipping_calculator {
        float: right;
        width: 47.8260869565%;
        margin-right: 0;
    }

    #ship-to-different-address .woocommerce-form__input-checkbox {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .woocommerce-cart .hentry,.woocommerce-checkout .hentry {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .page-template-template-fullwidth-php table.cart .product-thumbnail {
        display: table-cell;
        width: 80px;
    }

    .page-template-template-fullwidth-php table.cart thead {
        font-size: 1em;
        text-indent: 0;
    }

	#customer_details+#wc_checkout_add_ons,
	#order_review,
	#order_review_heading {
        float: right;
        width: 41.1764705882%;
        margin-right: 0;
    }

    #wc_checkout_add_ons input[type="radio"] {
        float: left;
        clear: left;
        margin-top: 0.35em;
        margin-right: 0.5407911001em;
    }

    #order_review,#order_review_heading {
        clear: right;
    }

    #order_review {
        -webkit-transition: box-shadow ease 0.4s;
        transition: box-shadow ease 0.4s;
    }

    #order_review_heading {
        margin-bottom: 0;
        padding-bottom: 0.6180469716em;
    }

    .page-template-template-fullwidth-php.woocommerce-order-pay #order_review,
    .woocommerce-order-pay #order_review {
        float: none;
        width: 100%;
    }

    .page-template-template-fullwidth-php.woocommerce-order-pay #order_review #payment h3,
    .woocommerce-order-pay #order_review #payment h3 {
        padding-top: 1em;
        padding-left: 1em;
    }

    .page-template-template-fullwidth-php.woocommerce-order-pay #order_review #payment .form-row,
    .page-template-template-fullwidth-php.woocommerce-order-pay #order_review .payment_methods+.form-row,
    .woocommerce-order-pay #order_review #payment .form-row,
    .woocommerce-order-pay #order_review .payment_methods+.form-row {
        padding: 1em;
    }

    .page-template-template-fullwidth-php.woocommerce-order-pay #order_review .button#place_order,
    .woocommerce-order-pay #order_review .button#place_order {
        display: block;
        width: 100%;
        font-size: 1.41575em;
    }

    #order_review .shop_table {
        margin-bottom: 2.617924em;
    }

	.checkout-bar li.active:after,
	.checkout-bar li.next:after {
		position: absolute;
		z-index: 0;
		top: -30px;
		left: 50%;
		width: 100%;
		height: 6px;
		background-color: #ccc;
		background-size: 35px 35px;
		content: "";
	}

	.woocommerce-cart .checkout-bar li.next:after,
	ul.checkout-bar {
		background-color: #ececec;
	}

	.checkout-bar.final li.active:after {
		width: auto;
	}

	.checkout-wrap {
		position: relative;
		margin: 130px auto 0;
	}

	ul.checkout-bar {
		position: absolute;
		top: -90px;
		width: 60%;
		height: 6px;
		margin: 0 auto 0 20%;
		padding: 0;
		background-size: 35px 35px;
	}

	ul.checkout-bar li.visited:after,
	ul.checkout-bar:before {
		position: absolute;
		left: 0;
		width: 17%;
		height: 6px;
		background-color: #dc9814;
		background-size: 35px 35px;
		content: " ";
	}

	.woocommerce-checkout .checkout-bar li.active:after {
		background-color: #dc9814;
	}

	.woocommerce-checkout ul.checkout-bar li.next:before {
		z-index: 4;
		background: #444;
	}

	.woocommerce-checkout ul.checkout-bar li.next {
		color: #444;
	}

	.woocommerce-checkout ul.checkout-bar li.next:after {
		background-color: #ccc;
	}

	ul.checkout-bar li {
		display: inline-block;
		width: 32%;
		margin: 30px 0 0;
		padding: 0;
		background-color: transparent;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		vertical-align: top;
	}

	ul.checkout-bar li:before {
		position: absolute;
		z-index: 5;
		top: -50px;
		left: 39%;
		width: 35px;
		height: 35px;
		line-height: 33px;
		box-sizing: content-box;
	}

	ul.checkout-bar li.visited {
		background: 0 0;
	}

	ul.checkout-bar li.visited:after {
		z-index: 99;
		top: -28px;
		left: 50%;
		width: 100%;
		content: "";
	}

    table.shop_table_responsive.woocommerce-cart-form__contents tbody th,
    table.shop_table_responsive.woocommerce-cart-form__contents tr td {
        display: table-cell;
    }

    .admin-bar .woocommerce-checkout #wc_checkout_add_ons label+br,
    table.cart .product-thumbnail:before,
    table.cart td.actions label {
    	display: none;
	}

}


@media (max-width:992px) {

	body.woocommerce-checkout .checkout_coupon,
	body.woocommerce-checkout.page-template-template-fullwidth-php #order_review,
	body.woocommerce-checkout.page-template-template-fullwidth-php #order_review_heading,
	body.woocommerce-checkout.page-template-template-fullwidth-php .col2-set,
	body.woocommerce-checkout.page-template-template-fullwidth-php .col2-set .form-row-first,
	body.woocommerce-checkout.page-template-template-fullwidth-php .col2-set .form-row-last,
	body.woocommerce-checkout.page-template-template-fullwidth-php .coupon-wrapper .form-row-first,
	body.woocommerce-checkout.page-template-template-fullwidth-php .coupon-wrapper .form-row-last,
	body.woocommerce-checkout.page-template-template-fullwidth-php .coupon-wrapper button {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.woocommerce-checkout .checkout_coupon .button,
	.woocommerce-checkout .checkout_coupon input,
	body #page .checkout_coupon {
		width: 100%;
	}

	body table.cart td.product-quantity .quantity-nav {
		display: none;
	}

	body table.cart td.product-quantity .qty {
		font-size: 16px;
	}

	body ul.order_details li {
		padding-right: 0;
		padding-left: 0;
	}

	body ul.order_details li {
		padding-bottom: 0;
	}

	.woocommerce-checkout ul.order_details li {
		display: block;
		text-align: left;
	}

	body.woocommerce-cart .entry-content,
	body.woocommerce-checkout .entry-content {
		padding-top: 1em;
	}

	#page ul.checkout-bar {
		margin-right: -2.6em;
		margin-left: -2.6em;
	}

	#page ul.checkout-bar li:before {
		top: 0;
		left: 2.6em;
	}

	#page ul.checkout-bar li {
		padding-left: calc(2.6em + 55px);
		border-bottom: 1px solid #f2f2f2;
	}

	#page table.cart td.actions button,
	#page table.cart td.actions input[type="submit"] {
		width: 100%;
		margin: 0;
	}

	#page table.shop_table_responsive tbody th,
	#page table.shop_table_responsive.woocommerce-cart-form__contents tr td,
	#page table.woocommerce-orders-table.shop_table_responsive tr td {
		display: table-cell;
	}

	body #page table.cart .product-thumbnail img {
		max-width: 40px;
	}

	#page table.cart td.product-remove {
		padding-right: 15px;
	}

	#page table.cart td.product-remove a.remove {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		font-size: 1.41575em;
	}

	.cart-custom-field img {
		max-width: 60%;
		margin: 0 auto;
	}

	body.page-template-template-minimal-checkout .site-header .col-full {
		display: flex;
	}

	#page .cart-collaterals,
	#page .woocommerce-cart-form {
		float: none;
		width: 100%;
	}

	td.woocommerce-orders-table__cell-order-number {
		padding-left: 0;
	}

	td.woocommerce-orders-table__cell-order-actions {
		padding-right: 0;
	}

	.cross-sells .products {
		margin-left: -10px;
		width: calc(100% + 20px);
	}

}

@media (min-width:768px) and (max-width:900px) {
    body:not(.page-template-template-fullwidth-php) table.cart td,
    body:not(.page-template-template-fullwidth-php) table.cart th {
        padding: 1em;
    }
}